.main-bg {
  background-image: url(../img/scattered-forcefields\ \(1\).svg);
  background-size: cover;
  background-position: center center;
  color: white;
  min-width: 660px;

 }
 .main-content {
  max-width: 120rem ;
  margin: 0 auto;
  padding: 10rem var(--gap);
 }
 .section {
  min-height: 100vh;
 }
 .white-bg {
  background-color: white;
  color: var(--primary-color);
 }
 .menu-spacing {
  height: 65px;
 }
 /* body.full-width {
  width: 100%;
  flex: 1 1 100%;
 } */